Write a program please preferably in Python or Perl programming language up to you.
The program have to process the whole page available on the given URL of https://www.teletal.hu/etlap/45 .
The specified URL is listing the menu of a web/online restaurant for the 45. week of the ongoing calendar year.
The program needs to traverse the whole menu of the week by each weekday.
The program have to find all the offered meals containing the component named “csirkemell” (chicken breast) and then find the cheapest meal containing “csirkemell” for each day of the week.

Finally the program should print out for each weekday the:
1. name of the day,
2. the name of the cheapest meal containing “csirkemell” and
3. the price of the cheapest meal containing “csirkemell” component offered that particular weekday.